@charset "UTF-8";

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-bold.woff2") format("woff2"), url("../fonts/gilroy-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-bolditalic.woff2") format("woff2"), url("../fonts/gilroy-bolditalic.woff") format("woff");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-extrabold.woff2") format("woff2"), url("../fonts/gilroy-extrabold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-extrabolditalic.woff2") format("woff2"), url("../fonts/gilroy-extrabolditalic.woff") format("woff");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-medium.woff2") format("woff2"), url("../fonts/gilroy-medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-mediumitalic.woff2") format("woff2"), url("../fonts/gilroy-mediumitalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-regular.woff2") format("woff2"), url("../fonts/gilroy-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-regularitalic.woff2") format("woff2"), url("../fonts/gilroy-regularitalic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-semibold.woff2") format("woff2"), url("../fonts/gilroy-semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "gilroy";
  src: url("../fonts/gilroy-semibolditalic.woff2") format("woff2"), url("../fonts/gilroy-semibolditalic.woff") format("woff");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "ProximaNova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2"), url("../fonts/ProximaNova-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --max-width: 1820px;
  --container-padding: 15px;
  --count-menu: 6;
}

html {
  font-size: 16px;
}

body {
  min-width: 320px;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  font-family: "gilroy";
}

button {
  cursor: pointer;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  max-width: var(--max-width);
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  overflow: hidden;
  opacity: 0;
  padding-left: 2px;
}

:focus,
:focus-visible,
.focus-visible {
  outline-color: #000;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.header {
  -webkit-box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
  padding: 22px 0;
  font-weight: 600;
}

.header a {
  text-decoration: none;
}

.header ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__group-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__icons {
  display: block;
  height: 24px;
  width: 24px;
  color: #333;
  position: relative;
}

.header__icons svg {
  fill: #AFB3BB;
}

.header__icons span {
  position: absolute;
  bottom: 13px;
  left: 12px;
  font-family: "ProximaNova", sans-serif;
  background-color: #DB052C;
  color: #fff;
  font-size: 11px;
  line-height: 7px;
  padding: 6px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.header__icons::before {
  content: attr(aria-label);
  display: block;
  position: absolute;
  top: 32px;
  left: 8px;
  font-weight: 500;
  color: #fff;
  background-color: #333;
  border-radius: 5px;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 12px;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header__icons:hover::before {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.header__favorite {
  margin-left: 24px;
}

.header__btn-order {
  margin-left: 24px;
  display: block;
  padding: 8px 16px;
  border-radius: 10px;
  border: 1px solid #2168DE;
  color: #2168DE;
}

.header__btn-order:hover {
  background-color: #2168DE;
  color: #fff;
}

.header__btn-signin {
  margin-left: 24px;
  display: block;
  padding: 8px 16px;
  border: 1px solid #CFD4DA;
  border-radius: 10px;
  color: #333;
}

.header__btn-signin:hover {
  color: #2168DE;
}

.header__burger {
  display: none;
}

.logo {
  font-weight: 800;
  text-transform: uppercase;
  color: #333;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 34px;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item {
  margin: 0 2px;
  display: none;
}

.nav__link {
  padding: 4px 12px;
  color: #333;
}

.nav__link:hover {
  color: #fff;
  background-color: #2168DE;
  border-radius: 10px;
}

.nav__link.active {
  color: #2168DE;
  background-color: transparent;
}

.nav__btn {
  display: inline-block;
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 8px;
  font-weight: 600;
  color: #AFB3BB;
}

.nav__btn span {
  vertical-align: middle;
}

.nav__btn svg {
  stroke: #AFB3BB;
  vertical-align: middle;
}

.nav__btn:hover {
  color: #2168DE;
}

.nav__btn:hover svg {
  stroke: #2168DE;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -8px;
  padding-left: 0;
  list-style: none;
}

.breadcrumbs__item {
  margin: 0 8px 13px;
}

.breadcrumbs__item a,
.breadcrumbs__item span {
  font-family: "Roboto", sans-serif;
  color: #52575F;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.breadcrumbs__item a:hover {
  color: #2168DE;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -4px;
  padding-left: 0;
  list-style: none;
}

.tags__item {
  margin: 0 4px 10px;
}

.tags__item-btn {
  margin: 0 4px;
  padding: 4px 16px;
  border: none;
  border-radius: 10px;
  background-color: #F2F4F7;
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

.tags__item-btn span {
  vertical-align: middle;
}

.tags__item-btn svg {
  stroke: #333;
  vertical-align: middle;
}

.tags__item-btn:hover {
  color: #fff;
  background-color: #2168DE;
}

.tags__item-btn:hover svg {
  stroke: #fff;
}

.main {
  padding: 50px 0;
}

.main a {
  text-decoration: none;
}

.main ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

.main__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
}

.main__controls {
  margin-top: 33px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__sort-item + .main__sort-item {
  margin-left: 25px;
}

.main__sort-btn {
  border: none;
  background-color: transparent;
  color: #333;
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
  padding: 0;
}

.main__sort-btn.active {
  color: #2168DE;
}

.main__toogle-filter {
  background-color: transparent;
  border: none;
  color: #2168DE;
  font-size: 16px;
  line-height: 32px;
}

.main__toogle-filter svg {
  vertical-align: middle;
  stroke: #2168DE;
  fill: #fff;
}

.main__toogle-filter span {
  vertical-align: middle;
}

.main__toogle-filter.close {
  color: #333;
}

.main__toogle-filter.close svg {
  stroke: #333;
}

.main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 21px;
}

.main__products {
  width: calc(100% - 250px);
  padding-right: 60px;
}

.main__items {
  display: grid;
  max-width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 40px 16px;
  max-width: 100%;
  width: 100%;
  margin-bottom: 41px;
}

.main__item {
  width: 100%;
  min-width: 0;
  min-height: 0;
  position: relative;
}

.main__item p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.main__item button {
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: "gilroy", "sans-serif";
  font-weight: 700;
}

.main__item-link {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.main__item-link:focus {
  outline: 1px auto black;
  outline-offset: 2px;
}

.main__images-block {
  position: relative;
}

.main__item-new {
  position: absolute;
  top: 8px;
  left: 8px;
  text-transform: uppercase;
  z-index: 1;
  background-color: #2CBC63;
  color: #fff;
  border-radius: 5px;
  padding: 4px 8px;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.main__images-row {
  z-index: 2;
  position: absolute;
  bottom: 8px;
  right: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  font-size: 12px;
  line-height: 12px;
}

.main__images-row svg {
  fill: #fff;
  vertical-align: middle;
}

.main__images-row span {
  vertical-align: middle;
  color: #fff;
}

.main__item-likes {
  margin-left: 8px;
}

.main__images-slider {
  min-width: 0;
  overflow: hidden;
  position: relative;
}

.main__images-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__images-item {
  width: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  position: relative;
  padding-top: 68.8888888889%;
}

.main__images-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.main__images-pagination {
  position: absolute;
  padding: 5px;
  left: 5px;
  bottom: 5px;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__images-pagination .swiper-pagination-bullet {
  display: block;
  width: 8px;
  height: 8px;
  padding: 0;
  border: none;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.2;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main__images-pagination .swiper-pagination-bullet + .swiper-pagination-bullet {
  margin-left: 8px;
}

.main__images-pagination .swiper-pagination-bullet-active {
  opacity: 1;
}

.main__tags {
  margin-top: 16px;
}

.main__tags-list {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.main__tags-item {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}

.main__tags-item + .main__tags-item::before {
  content: "•";
  display: inline-block;
  color: #AFB3BB;
}

.main__products-show {
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  border-radius: 10px;
  background-color: #F2F4F7;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #333;
  padding: 12px;
  margin-bottom: 36px;
}

.main__products-show:hover {
  background-color: #CFD4DA;
  color: #2168DE;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__block {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pagination__item {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 8px;
}

.pagination__item a,
.pagination__item span {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.pagination__item a:hover {
  background-color: #AFB3BB;
}

.pagination__item.active a {
  background-color: #2168DE;
  color: #fff;
}

.filter {
  width: 250px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.filter__accardion {
  margin-bottom: 25px;
}

.filter__accardion-top {
  margin-top: 0;
  margin-bottom: 13px;
}

.filter__accardion-btn {
  width: 100%;
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #333;
  text-align: left;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  padding: 0 0 0 8px;
  position: relative;
}

.filter__accardion-btn svg {
  stroke: #333;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.filter__accardion-btn.down svg {
  -webkit-transform: translateY(-50%) rotate(0deg);
      -ms-transform: translateY(-50%) rotate(0deg);
          transform: translateY(-50%) rotate(0deg);
}

.filter__accardion-dropdown {
  overflow: hidden;
}

.filter__accardion-dropdown--padding {
  padding-left: 8px;
}

.filter__search {
  margin: 1px 0 8px 8px;
  width: calc(100% - 8px);
  padding: 8px 11px;
  border-radius: 5px;
  border: 1px solid #CFD4DA;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.filter__search::-webkit-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #afb3bb;
}

.filter__search::-moz-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #afb3bb;
}

.filter__search:-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #afb3bb;
}

.filter__search::-ms-input-placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #afb3bb;
}

.filter__search::placeholder {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #afb3bb;
}

.filter__accardion-fieldset {
  border: none;
  margin: 0;
  padding: 0;
  max-height: 200px;
  -webkit-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.filter__accardion-fieldset.overflow-hidden {
  overflow: hidden;
}

.filter__accardion-label {
  display: block;
  width: calc(100% - 8px);
}

.filter__accardion-span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  padding: 8px;
  border-radius: 10px;
}

.filter__accardion-span:hover {
  background-color: #f4f7fd;
}

.filter__accardion-check.focus-visible ~ .filter__accardion-span {
  background-color: #f4f7fd;
  outline: #000 auto 1px;
  outline-offset: -2px;
}

.filter__accardion-icon {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: block;
  height: 24px;
  width: 24px;
  border-radius: 5px;
  border: 1px solid #CFD4DA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.filter__accardion-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-left: 8px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.filter__accardion-check ~ .filter__accardion-span svg {
  display: none;
  fill: transparent;
  stroke: #fff;
}

.filter__accardion-check:checked ~ .filter__accardion-span .filter__accardion-icon {
  background-color: #2168DE;
  border: 1px solid #2168DE;
}

.filter__accardion-check:checked ~ .filter__accardion-span svg {
  display: block;
}

.filter__accardion-check:disabled ~ .filter__accardion-span {
  color: #AFB3BB;
}

.filter__accardion-check:disabled ~ .filter__accardion-span:hover {
  background-color: transparent;
}

.filter__show-everything {
  margin-top: 15px;
  border: none;
  background-color: transparent;
  margin-left: 8px;
  color: #2168DE;
  font-weight: 400;
  font-size: 14px;
  font-family: "gilroy", "sans-serif";
  line-height: 24px;
}

.filter__show-everything:hover {
  text-decoration: underline;
}

.filter__btn-clear {
  width: 100%;
  padding: 7px;
  border-radius: 10px;
  border: none;
  color: #2168DE;
  text-align: center;
  font-weight: 600;
  font-size: 17px;
  line-height: 32px;
  background-color: #F2F4F7;
}

.filter__btn-clear:hover {
  background-color: #2168DE;
  color: #fff;
}

[data-simplebar] {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.simplebar-wrapper {
  overflow: hidden;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
}

.simplebar-mask {
  direction: inherit;
  position: absolute;
  overflow: hidden;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: auto !important;
  height: auto !important;
  z-index: 0;
}

.simplebar-offset {
  direction: inherit !important;
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  resize: none !important;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 0;
  margin: 0;
  -webkit-overflow-scrolling: touch;
}

.simplebar-content-wrapper {
  direction: inherit;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  position: relative;
  display: block;
  height: 100%;
  /* Required for horizontal native scrollbar to not appear if parent is taller than natural height */
  width: auto;
  max-width: 100%;
  /* Not required for horizontal scroll to trigger */
  max-height: 100%;
  /* Needed for vertical scroll to trigger */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.simplebar-content:before,
.simplebar-content:after {
  content: " ";
  display: table;
}

.simplebar-placeholder {
  max-height: 100%;
  max-width: 100%;
  width: 100%;
  pointer-events: none;
}

.simplebar-height-auto-observer-wrapper {
  -webkit-box-sizing: inherit !important;
          box-sizing: inherit !important;
  height: 100%;
  width: 100%;
  max-width: 1px;
  position: relative;
  float: left;
  max-height: 1px;
  overflow: hidden;
  z-index: -1;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -webkit-box-flex: inherit;
      -ms-flex-positive: inherit;
          flex-grow: inherit;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
}

.simplebar-height-auto-observer {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 1000%;
  width: 1000%;
  min-height: 1px;
  min-width: 1px;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.simplebar-track {
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  pointer-events: none;
  overflow: hidden;
}

[data-simplebar].simplebar-dragging .simplebar-content {
  pointer-events: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

[data-simplebar].simplebar-dragging .simplebar-track {
  pointer-events: all;
}

.simplebar-scrollbar {
  position: absolute;
  left: 0;
  right: 0;
  min-height: 10px;
}

.simplebar-scrollbar:before {
  position: absolute;
  content: "";
  background: black;
  border-radius: 7px;
  left: 4px;
  right: 0px;
  opacity: 0;
  -webkit-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

.simplebar-scrollbar.simplebar-visible:before {
  /* When hovered, remove all transitions from drag handle */
  opacity: 0.5;
  -webkit-transition: opacity 0s linear;
  -o-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.simplebar-track.simplebar-vertical {
  top: 0;
  width: 8px;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 2px;
  bottom: 2px;
}

.simplebar-track.simplebar-horizontal {
  left: 0;
  height: 11px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar:before {
  height: 100%;
  left: 2px;
  right: 2px;
}

.simplebar-track.simplebar-horizontal .simplebar-scrollbar {
  right: auto;
  left: 0;
  top: 2px;
  height: 7px;
  min-height: 0;
  min-width: 10px;
  width: auto;
}

/* Rtl support */

[data-simplebar-direction=rtl] .simplebar-track.simplebar-vertical {
  right: auto;
  left: 0;
}

.hs-dummy-scrollbar-size {
  direction: rtl;
  position: fixed;
  opacity: 0;
  visibility: hidden;
  height: 500px;
  width: 500px;
  overflow-y: hidden;
  overflow-x: scroll;
}

.simplebar-hide-scrollbar {
  position: fixed;
  left: 0;
  visibility: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 1440px) {
  :root {
    --max-width: 1340px;
  }
}

@media (max-width: 1280px) {
  :root {
    --max-width: 1180px;
  }
}

@media (max-width: 1024px) {
  :root {
    --max-width: 990px;
    --container-padding: 0px;
  }
}

@media (max-width: 600px) {
  :root {
    --max-width: 990px;
  }
}